@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.topo{
    background-color: #C3CFD9;
    width: 375px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topo > h1{
    color: #E8833A;
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 400;
}
.subtopo{
    width: 375px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.subtopo > h2{
    color:#293845;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    
}
.container-filmes{
    width: 375px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}
.filme{
    margin-top: 11px;
    width: 145px;
    height: 209px;
    padding: 8px;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
.filme > img{
    width: 129px;
    height: 193px;
}
.sessao {
    margin-left: 24px;
    font-family: 'Roboto', sans-serif;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.horarios > button{
    font-family: 'Roboto', sans-serif;
    width: 82px;
    height: 43px;
    font-size: 18px;
    background-color: #E8833A;
    color: white;
    border-radius: 3px;
    border: solid #E8833A;
    margin-left: 5px;
 
}
.rodape{
    position: fixed;
    bottom: 0;
    width: 375px;
    height: 117px;
    background-color: #DFE6ED;
    padding: 14px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.miniatura{
    width: 64px;
    height: 89px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.miniatura > img{
    width: 48px;
    height: 72px;
}
.rodape > div > h1{
    margin-left: 14px;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #293845;
}
.todos-assentos{
    width: 375px;
    padding: 0px 24px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.assento{
    background-color: #C3CFD9;
    width: 26px;
    height: 26px;
    border-radius: 12px;
    border: 1px solid #808F9D;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 15px;
    margin-right: 3px;
   
}
.assento > p{
    font-size: 11px;
    font-family: 'Roboto', sans-serif;

}
.container-legenda{
    margin-top: 15px;
    padding: 0px 24px;
    box-sizing: border-box;
    width: 375px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.legenda{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 

}
.bolinha1{
    width: 26px;
    height: 26px;
    border-radius: 17px;
    background-color: #1AAE9E;
    border: 1px solid #0E7D71;
    margin-bottom: 5px;
    
}
.bolinha2{
    width: 26px;
    height: 26px;
    border-radius: 17px;
    background-color: #C3CFD9;
    border: 1px solid #7B8B99;
    margin-bottom: 5px;

}
.bolinha3{
    width: 26px;
    height: 26px;
    border-radius: 17px;
    background-color: #FBE192;
    border: 1px solid #F7C52B;
    margin-bottom: 5px;

}

.container-legenda > .legenda > p{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;

}

.dados-comprador {
    width: 375px;
    padding: 24px 24px;
    box-sizing: border-box;

}
.dados-comprador > p{
    font-weight: 400;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}
.dados-comprador > input{
    color: #AFAFAF;
    font-style: italic;
    border-radius: 3px;
    border: 1px solid #D5D5D5;
    width: 327px;
    height: 51px;
    margin-bottom: 5px;
}
.reservar{
    margin-left: 65px;
    width: 255px;
    height: 42px;
    background-color: #E8833A;
    border-radius: 3px;
    border: none;
}
.reservar > p{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}